html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
}
html {
  position: relative;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  font-size:16px;
}
h1 {
  font-family: inherit;
  font-weight: 800;
  font-size: 40px;
}
/* Footer */
footer {
  position:absolute;
  bottom:0;
  width: 100%;
  padding: 0 3rem 0 3rem;
}
a {
  text-decoration:none;
  color:black;
}
a:hover {
  text-decoration:none;
  color:grey;
}
footer p {
  color:grey;
}
#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(211, 211, 211);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: block !important;
}
#sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.gallery img {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: transform .5s ease;
}
.gallery video {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
  transition: transform .5s ease;
}
.lg-img img {
  max-height: 500px;
}
.img-hover-zoom {
  overflow: hidden;
}
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.btn-filter {
  border: none;
  margin-right:5px;
  outline: none;
  padding:9px;
  background-color: white;
  border-color:black;
  border-width:2px;
  border-style:solid;
  cursor: pointer;
  font-family: inherit;
}
.btn-filter:hover {
  color: #ffffff;
  background-color:rgb(94, 92, 92);
}
.btn-filter.active {
  background-color: black;
  color: white;
}
.opacity-9 {
  opacity: 0.9;
}
.opacity-8-5 {
  opacity: 0.85;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-3 {
  opacity: 0.3;
}
#myModal img {
  max-height: 80vh;
  max-width: 100vh;
}
.carousel-item {
  margin-top: 10vh;
}
.carousel-caption h5, .carousel-caption p {
  color: black;
}
#whiteTint {
  position: absolute;
}
#closeCarousel {
  position: absolute;
  top:100px;
  right: 100px;
  z-index: 100;
  font-size: 50px;
}
#closeCarousel:hover {
  cursor: pointer;
  color: grey;
}
.carousel-indicators li {
  background-color: black;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }
@media (max-width:512px) {
  #myModal img {
    max-height: 80vh;
    max-width: 50vh;
  }
  #closeCarousel {
    position: absolute;
    top:30px;
    right: 50px;
    z-index: 100;
    font-size: 50px;
  }
  .carousel-item {
    margin-top: 20vh;
  }
}