<script>
    var carousel = document.getElementById("carouselProductCaptions")
    let carouselInner = document.getElementsByClassName("carousel-inner")[0]
    var modal = document.getElementById("myModal");
    const images = document.getElementsByClassName("gallery")[0].getElementsByTagName("IMG");
    // Get the <span> element that closes the modal
    var span = document.getElementById("closeCarousel");
    var carouselIndicators = document.getElementsByClassName('carousel-indicators')[0]

    function createImageCarouselImage(img) {

        let carouselImageDiv = document.createElement("div")
        carouselImageDiv.classList.add("carousel-item")
        if (carouselInner.children.length == 1) carouselImageDiv.classList.add("active")
        carouselInner.appendChild(carouselImageDiv)

        var imgClone = img.cloneNode(true);
        imgClone.classList.add("d-block", "mx-auto")
        carouselImageDiv.appendChild(imgClone)

        let carouselImageCaptionDiv = document.createElement("div")
        carouselImageCaptionDiv.classList.add("carousel-caption", "d-none", "d-md-block")
        carouselImageDiv.appendChild(carouselImageCaptionDiv)
        let carouselImageCaptionTitle = document.createElement("h5")
        carouselImageCaptionTitle.innerHTML  = img.alt
        carouselImageCaptionDiv.appendChild(carouselImageCaptionTitle)

        let carouselImageCaptionText = document.createElement("p")
        carouselImageCaptionText.innerHTML  = img.getAttribute('desc')
        carouselImageCaptionDiv.appendChild(carouselImageCaptionText)

        let carouselIndicator = document.createElement("li")
        carouselIndicator.setAttribute('data-target', `#${carousel.id}`)
        carouselIndicator.setAttribute('data-slide-to', carouselInner.children.length-2)
        if (carouselInner.children.length == 0) carouselIndicator.classList.add("active")

        carouselIndicators.appendChild(carouselIndicator)
    }
    console.log("Found images: ", images)
    for (let i=0;i<images.length;i++) {
        createImageCarouselImage(images[i])

        images[i].onclick = function () {
            modal.classList.add("d-block")
            // captionText.innerHTML = img.alt;
            whiteTint.classList.add('d-block')

            $('#carouselProductCaptions').carousel(i)
        }
    }
    span.onclick = function () {
        modal.classList.remove('d-block')
    }
</script>